<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.testcross.zuji.mapper.PmPostMapper" >
  <resultMap id="BaseResultMap" type="top.testcross.zuji.bean.PmPost" >
    
    <!-- 动态id -->
    <id column="post_id" property="postId" jdbcType="CHAR" />
    
    <!-- 动态点赞数 -->
    <result column="post_like_count" property="postLikeCount" jdbcType="INTEGER" />
    
    <!-- 动态收藏数 -->
    <result column="post_fav_count" property="postFavCount" jdbcType="INTEGER" />
    
    <!-- 动态评论数 -->
    <result column="post_cmt_count" property="postCmtCount" jdbcType="INTEGER" />
    
    <!-- 动态图片数 -->
    <result column="post_img_count" property="postImgCount" jdbcType="INTEGER" />
    
    <!-- 动态封面对应图片id -->
    <result column="post_cp_img_id" property="postCpImgId" jdbcType="CHAR" />
    
    <!-- 动态可见性 -->
    <result column="post_visible" property="postVisible" jdbcType="BIT" />
    
    <!-- 动态描述对应评论id -->
    <result column="post_intro_comment_id" property="postIntroCommentId" jdbcType="CHAR" />
    
    <!-- 动态描述 -->
    <result column="post_intro" property="postIntro" jdbcType="VARCHAR" />
    
    <!-- 位置id -->
    <result column="pi_id" property="piId" jdbcType="CHAR" />
    
    <!-- 用户id -->
    <result column="user_id" property="userId" jdbcType="CHAR" />
    
    <!-- 动态创建时间 -->
    <result column="post_create_time" property="postCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>




  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    post_id, post_like_count, post_fav_count, post_cmt_count, post_img_count, post_cp_img_id, 
    post_visible, post_intro_comment_id, post_intro, pi_id, user_id, post_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.testcross.zuji.bean.PmPostExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from pm_post
    where post_id = #{postId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    delete from pm_post
    where post_id = #{postId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.testcross.zuji.bean.PmPostExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    delete from pm_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    insert into pm_post (post_id, post_like_count, post_fav_count, 
      post_cmt_count, post_img_count, post_cp_img_id, 
      post_visible, post_intro_comment_id, post_intro, 
      pi_id, user_id, post_create_time
      )
    values (#{postId,jdbcType=CHAR}, #{postLikeCount,jdbcType=INTEGER}, #{postFavCount,jdbcType=INTEGER}, 
      #{postCmtCount,jdbcType=INTEGER}, #{postImgCount,jdbcType=INTEGER}, #{postCpImgId,jdbcType=CHAR}, 
      #{postVisible,jdbcType=BIT}, #{postIntroCommentId,jdbcType=CHAR}, #{postIntro,jdbcType=VARCHAR}, 
      #{piId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{postCreateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    insert into pm_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="postLikeCount != null" >
        post_like_count,
      </if>
      <if test="postFavCount != null" >
        post_fav_count,
      </if>
      <if test="postCmtCount != null" >
        post_cmt_count,
      </if>
      <if test="postImgCount != null" >
        post_img_count,
      </if>
      <if test="postCpImgId != null" >
        post_cp_img_id,
      </if>
      <if test="postVisible != null" >
        post_visible,
      </if>
      <if test="postIntroCommentId != null" >
        post_intro_comment_id,
      </if>
      <if test="postIntro != null" >
        post_intro,
      </if>
      <if test="piId != null" >
        pi_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="postCreateTime != null" >
        post_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=CHAR},
      </if>
      <if test="postLikeCount != null" >
        #{postLikeCount,jdbcType=INTEGER},
      </if>
      <if test="postFavCount != null" >
        #{postFavCount,jdbcType=INTEGER},
      </if>
      <if test="postCmtCount != null" >
        #{postCmtCount,jdbcType=INTEGER},
      </if>
      <if test="postImgCount != null" >
        #{postImgCount,jdbcType=INTEGER},
      </if>
      <if test="postCpImgId != null" >
        #{postCpImgId,jdbcType=CHAR},
      </if>
      <if test="postVisible != null" >
        #{postVisible,jdbcType=BIT},
      </if>
      <if test="postIntroCommentId != null" >
        #{postIntroCommentId,jdbcType=CHAR},
      </if>
      <if test="postIntro != null" >
        #{postIntro,jdbcType=VARCHAR},
      </if>
      <if test="piId != null" >
        #{piId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="postCreateTime != null" >
        #{postCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.testcross.zuji.bean.PmPostExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    select count(*) from pm_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    update pm_post
    <set >
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=CHAR},
      </if>
      <if test="record.postLikeCount != null" >
        post_like_count = #{record.postLikeCount,jdbcType=INTEGER},
      </if>
      <if test="record.postFavCount != null" >
        post_fav_count = #{record.postFavCount,jdbcType=INTEGER},
      </if>
      <if test="record.postCmtCount != null" >
        post_cmt_count = #{record.postCmtCount,jdbcType=INTEGER},
      </if>
      <if test="record.postImgCount != null" >
        post_img_count = #{record.postImgCount,jdbcType=INTEGER},
      </if>
      <if test="record.postCpImgId != null" >
        post_cp_img_id = #{record.postCpImgId,jdbcType=CHAR},
      </if>
      <if test="record.postVisible != null" >
        post_visible = #{record.postVisible,jdbcType=BIT},
      </if>
      <if test="record.postIntroCommentId != null" >
        post_intro_comment_id = #{record.postIntroCommentId,jdbcType=CHAR},
      </if>
      <if test="record.postIntro != null" >
        post_intro = #{record.postIntro,jdbcType=VARCHAR},
      </if>
      <if test="record.piId != null" >
        pi_id = #{record.piId,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.postCreateTime != null" >
        post_create_time = #{record.postCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    update pm_post
    set post_id = #{record.postId,jdbcType=CHAR},
      post_like_count = #{record.postLikeCount,jdbcType=INTEGER},
      post_fav_count = #{record.postFavCount,jdbcType=INTEGER},
      post_cmt_count = #{record.postCmtCount,jdbcType=INTEGER},
      post_img_count = #{record.postImgCount,jdbcType=INTEGER},
      post_cp_img_id = #{record.postCpImgId,jdbcType=CHAR},
      post_visible = #{record.postVisible,jdbcType=BIT},
      post_intro_comment_id = #{record.postIntroCommentId,jdbcType=CHAR},
      post_intro = #{record.postIntro,jdbcType=VARCHAR},
      pi_id = #{record.piId,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=CHAR},
      post_create_time = #{record.postCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    update pm_post
    <set >
      <if test="postLikeCount != null" >
        post_like_count = #{postLikeCount,jdbcType=INTEGER},
      </if>
      <if test="postFavCount != null" >
        post_fav_count = #{postFavCount,jdbcType=INTEGER},
      </if>
      <if test="postCmtCount != null" >
        post_cmt_count = #{postCmtCount,jdbcType=INTEGER},
      </if>
      <if test="postImgCount != null" >
        post_img_count = #{postImgCount,jdbcType=INTEGER},
      </if>
      <if test="postCpImgId != null" >
        post_cp_img_id = #{postCpImgId,jdbcType=CHAR},
      </if>
      <if test="postVisible != null" >
        post_visible = #{postVisible,jdbcType=BIT},
      </if>
      <if test="postIntroCommentId != null" >
        post_intro_comment_id = #{postIntroCommentId,jdbcType=CHAR},
      </if>
      <if test="postIntro != null" >
        post_intro = #{postIntro,jdbcType=VARCHAR},
      </if>
      <if test="piId != null" >
        pi_id = #{piId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="postCreateTime != null" >
        post_create_time = #{postCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where post_id = #{postId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Nov 15 12:07:48 GMT+08:00 2020.
    -->
    update pm_post
    set post_like_count = #{postLikeCount,jdbcType=INTEGER},
      post_fav_count = #{postFavCount,jdbcType=INTEGER},
      post_cmt_count = #{postCmtCount,jdbcType=INTEGER},
      post_img_count = #{postImgCount,jdbcType=INTEGER},
      post_cp_img_id = #{postCpImgId,jdbcType=CHAR},
      post_visible = #{postVisible,jdbcType=BIT},
      post_intro_comment_id = #{postIntroCommentId,jdbcType=CHAR},
      post_intro = #{postIntro,jdbcType=VARCHAR},
      pi_id = #{piId,jdbcType=CHAR},
      user_id = #{userId,jdbcType=CHAR},
      post_create_time = #{postCreateTime,jdbcType=TIMESTAMP}
    where post_id = #{postId,jdbcType=CHAR}
  </update>
  
  <!-- Generate time: 2020-11-15 12:07:48 ### -->


  <!-- Your codes goes here!!! -->
  
</mapper>